<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/admin/responsible">Responsible Management </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/etablissement}">Establishments Management</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/validation}">Accounts Validation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/logout}" method="post">Logout</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Internships responsible </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/admin/responsible/new}" class = "btn btn-primary btn-sm mb-3"> Add Responsible</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Responsible First Name</th>
					<th> Responsible Last Name</th>
					<th> Responsible Email </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "responsible: ${responsible}">
					<td th:text = "${responsible.firstName}"></td>
					<td th:text = "${responsible.lastName}"></td>
					<td th:text = "${responsible.email}"></td>
					<td>
						<a th:href = "@{/admin/responsible/edit/{id}(id=${responsible.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/admin/responsible/delete/{id}(id=${responsible.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
	 <div style="position:fixed; bottom:0;" class="container-fluid bg-dark text-white text-center py-2">
		  <p>© 2022 Copyright. All rights reserved.</p>
		</div> 
</body>
</html>